/* Write your CSS here */
.notfound-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  height: 100vh;
  background-size: cover;
}

.notfound-page {
  font-family: 'Bree Serif';
  font-size: 30px;
  font-weight: 800;
  color: #ffffff;
}
