/* Write your CSS here */
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.team-matches-container {
  padding: 15px;
}

.team-banner {
  width: 100%;
}

.latest-matches {
  font-family: 'Bree Serif';
  font-size: 30px;
  font-weight: 800;
  color: #ffffff;
}

.recent-matches-container {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: 0px;
  width: 100%;
}

.container {
  background-color: #4f5db0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-top: 20px;
}

.rcb {
  background-image: linear-gradient(#d91c1f, #4f5db0);
}

.csk {
  background-image: linear-gradient(#f7db00, #4f5db0);
}

.kkr {
  background-image: linear-gradient(#4f5db0, #4f5db0);
}

.kxp {
  background-image: linear-gradient(#d91c1f, #4f5db0);
}

.rr {
  background-image: linear-gradient(#da237b, #4f5db0);
}

.sh {
  background-image: linear-gradient(#f26d22, #4f5db0);
}

.dc {
  background-image: linear-gradient(#a4261d, #4f5db0);
}

.mi {
  background-image: linear-gradient(#13418b, #4f5db0);
}

.backBtn {
  height: 30px;
  width: 65px;
  background-color: #13418b;
  color: #ffffff;
  border-radius: 4px;
  border-width: 0px;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
